@keyframes fade-in{
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
@-webkit-keyframes fade-in{
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
@-moz-keyframes fade-in{
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}

.animation{
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}