@import url(animations.css);
@import url('http://fonts.cdnfonts.com/css/gotham');

@media only screen and (min-width: 800px) {

  }

html{
    background: rgb(18,18,18);
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Gotham', sans-serif;
    color: white;
    border: 1px hidden white;
}

.pocetna{
    margin: 0;
    padding: 0;
    background: rgb(18,18,18);
    background: linear-gradient(330deg, rgba(18,18,18,1) 85%, rgb(37, 37, 255) 100%);
}

.container {
    min-height: 1120px;
    margin: 7px;
    margin-top: 0px;
}

#container1{
    border: 1px solid transparent;
}

.header {
    margin-left: 5px;
    color: red;
    color: white;
}

.playlists_view{
    min-height: 100px;
    width: 100%;
    display: inline-grid;
    grid: repeat(3, auto) / auto-flow;
}

.genre{
    grid: repeat(2, auto) / auto-flow;
}

.genre_image{
    position: relative;
    right: -70px;
    top: 15px;
    height: 80px;
    transform: rotate(0.125turn);
    z-index: -2;
}

.playlist_box{
    background-color: #272727;
    display: flex;
    height: 40pt;
    margin: 5px;
    min-width: 100pt;
    border-radius: 5px;
    z-index: 2;
    max-width: 100%;
}

.list_box{
    height: 80pt;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 96%;
}

#search{
    position: relative;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 95%;
    border-radius: 6px;
    height: 30px;
    font-family: 'Gotham', sans-serif;
    font-size: 0.7em;
    font-weight: 500;
}

.genre_box{
    padding-left: 5px;
    padding-top: 5px;
    height: 90px;
    font-size: 1.2em;
    background-color: rgb(240, 63, 63);
    overflow: hidden;
}

.playlist_box:active{
    background-color: gray;
    opacity: 0.8;
}

.playlist_text{
    font-size: 0.8em;
    position: relative;
    bottom: -10%;
    padding-left: 7px;
    font-weight: 500;
    /* bottom: 25%; */
}

.albums_view{
    overflow: hidden;
    display: flex;
    min-height: 200px;
}

.album_box{
    display: block;
    margin: 10px 5px;
    width: 120pt;
    min-width: 70pt;
    height: 140pt;
    padding: 0;
}

.album_box:active{
    background-color: gray;
    opacity: 0.8;
}

.box_text{
    margin: 0 0 5px;
}

.box_para{
    font-size: 0.7em;
    font-weight: 500;
}

#tab_nav {
    background-color: #272727;
    height: 40pt;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: inline-grid;
    grid: repeat(1, auto) / auto-flow;
    z-index: 50;
}

.nav_element {
    text-align: center;
}
.nav_element:active{
    /* transform: scale(1.5); */
    background-color: gray;
    max-height: 70px;
}

.nav_icon{
    position: relative;
    top: 35%;
    color: white;
}

.playlist_image{
    width: 50pt;
    height: 40pt;
    z-index: 1;
}

.album_image{
    width: 100%;
    z-index: 1;
}

.zbirka_text{
    left: 15px;
    top: 15px;
    font-weight: 800;
    color: white;
}

.list_small_text{
    position: relative;
    left: 15px;
    top: 5px;
}

.list_image{
    position: relative;
    float: left;
    width: 80pt;
}

#hamb{
    margin: 0;
    position: relative;
    float: right;
    top: -35pt;
    right: 4pt;
    width: 30pt;
    height: 22pt;
    z-index: 49;
    transition: 0.5s;
  }

#close_menu{
    margin: 0;
    position: relative;
    float: right;
    top: -35pt;
    right: -27pt;
    width: 30pt;
    height: 22pt;
    border: 1px solid red;
    visibility: hidden;
}

.stick{
    height: 3px;
    margin: 5px;
    background: white;
}

.menu_text{
    margin-top: 25px;
    margin-left: 25px;
    visibility: hidden;
    transition: 0.7s;
    font-weight: 400;
}

#side_menu{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0%;
    height: 95%;
    scroll-behavior: unset;
    background-color: #202020;
    opacity: 1;
    z-index: 3;
    transition: 0.5s;
    overflow: hidden;
}